
/*
========
HOME CSS
========
*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4em;
  margin: 5rem 0;
  width: 100%;
}

.hero-sect {
  width: 100%;
  padding: 0px;
  background: var(--primary);
  color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.hero-sect h2 {
  text-align: center;
  font-size: var(--h2);
}

.hero-sect p {
  text-align: center;
  width: 60%;
  margin: 0 auto; 
  font-size: 1.1rem;
  font-weight: 400;
}

.search {
  min-width: 260px !important;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: var(--static8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 20px 1px #0000001a, 0 0 0 1px #0000001a; */
  cursor: auto;
}

.search h2 {
  text-align: center;
  font-size: var(--h3);
}

.search-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  margin: 30px 0;
}

.search-input-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 9;
}

.search-input {
  font-size: var(--p);
  border: 1px solid var(--static8);
  border-radius: 6px;
  background-color: transparent;
  color: currentColor;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 1em;
  height: 60px;
}

.search-input:hover {
  background-color: var(--static8);
}

.search-separator {
  height: 50px;
  width: 2px;
  background-color: var(--static7);
  align-self: center;
  border-radius: 2px;
}

.search-button {
  font-size: var(--p);
  color: var(--static2);
  background-color: var(--static6);
  padding: 1em 1em;
  gap: 0.1em;
  border-radius: 6px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
}

.search-button:hover {
  background-color: var(--static7);
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

.search-button > .search-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  font-size: var(--h5);
}

/* carousell css ------------------------- */

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  overflow-x: scroll;
  padding: 0 35px;
}

.wrapper {
  position: relative;
}

.wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text);
  color: var(--bg);
  width: 60px;
  height: 60px;
  font-size: var(--h1);
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 4;
}

.wrapper i:first-child {
  left: -28px;
}

.wrapper i:last-child {
  right: -28px;
}

.wrapper .carousel {
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grabbing;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 230px;
  width: calc(100% / 3);
  object-fit: cover;
  margin-left: 14px;
  border-radius: 10px;
  filter: blur(3px);
  opacity: 0.7;
  user-select: none;
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

/* carousell css ------------------------- */

.rated-recipies {
  max-width: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.rated-recipies i {
  position: relative;
  width: 100px;
  height: 100px;
  top: 30px;
  color: var(--primary);
}

.rated-recipies h2 {
  text-align: center;
}

.rated-recipies p {
  position: relative;
  left: 45px;
  margin: 20px;
  text-align: center;
}