
/*
=========
TOOLS CSS
=========
*/

/* Tools container */
.section.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

/* Tools header section */
.part-heading {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.part-heading.center {
  align-items: center;
}

.part-heading > h2 {
  text-align: center;
}

/* tools cards */
.section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .section-cards {
    flex-direction: column;
    gap: 2em;
  }
}

.tools-col {
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}

.tool-item {
  position: relative;
}

.tool-item.main-page {
  width: 30%;
}

.tool-link {
  padding: 1em;
  display: block;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col1-tool-link-bg {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  opacity: 10%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  transition: opacity 0.3s ease;
}

.tool-item:hover > .col1-tool-link-bg {
  opacity: 20%;
  transition: opacity 0.3s ease;
}

.tool-item:hover > .col2-tool-link-bg {
  opacity: 10%;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .tool-item.main-page {
      width: 100% !important;
  }
}