
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: #000000; */
}

header{
    background-color: #000000;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 10px;
}
.nav-bar{
    
    display: flex;
    padding: 15px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
.nav-bar .logo{
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
}

.nav-bar img{
    width: 30px;
}

.nav-bar .logo h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.nav-bar .links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-bar .links a {
    text-decoration: none;
    font-family: "Poppins";
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.nav-bar .links a:hover{
    color: #2d79b4;
}

.nav-bar .logout-btn{
    border: none;
    outline: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #feb710;
}

.hero-sect {
     /* Adjust the top margin to create space below the header */
    width: 100%;
    padding: 0px; /* Add padding to the sides for content spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: #feb710;
    height: 300px;
}
.hero-sect h1{
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-weight: 500;
}
.hero-sect p{
    text-align: center;
    width: 60%;
    margin: 0 auto; 
    font-size: 1.1rem;
    font-weight: 400;
}
.search-bar {
    position: relative; /* Position the search bar relative to its parent container */
    bottom: 4%;
    left: 25%; /* Adjust the distance from the right of the viewport */
    display: flex;
    align-items: center;
    max-width: 50%; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: hsl(0,0%,100%);
}


.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
}

.search-bar button i {
    font-size: 1.2rem;
    color: #666;
}



.container {
    display: flex;
    justify-content: center;
    margin: 40px;
  
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
}

.card {
    text-align: center;
    margin: 0 1rem;
  
}

.circle-container {
    position: relative;
    width: 120px; /* Adjust as needed */
    height: 120px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    filter: blur(3px);
    opacity: 0.7;
    
}

.card h3 {
    position: absolute;
    top: 50%; /* Position the top of the h3 element at the vertical center of the circle container */
    left: 50%; /* Position the left of the h3 element at the horizontal center of the circle container */
    transform: translate(-50%, -50%); /* Translates the h3 element 50% of its own width and height in the opposite direction, effectively centering it */
    z-index: 1;
    color: #ffffff;
    
    font-size: 1.2rem;
    font-weight: 500;
}

.card-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
    z-index: 0;
    
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}

.swiper-button-next,
.swiper-button-prev{
    width: initial;
    height: initial;
    scale: 0.7;
    color: rgb(192, 0, 0);
    display: none;
}
.swiper-button-prev{
    left: 220px;
}
 .swiper-button-next{
    right: 220px;
 }
 .card-container.swiper {
    width: 1000px; /* Adjust this value to control the width of the swiper container */
    
}
.rated-recipies{
    
    max-width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.rated-recipies img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 30px;
}
.rated-recipies h2{

    text-align: center;
    
}
.rated-recipies p{
    position: relative;
    left: 45px;
    margin: 20px;
    text-align: center;
   
}






