body{
    background-color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.logo{
    text-align: center;
    margin-top: 20px;
}
.logo img{
    height: 80px;
    width: 80px;
}
.container{
    max-width: 400px;
    border: solid black 1px;
    border-radius: 6px;
    margin: 20px auto;
    background-color: white;
}
.container h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.4em;
}
.container p{
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.9em;
}
.input-box{
    margin-bottom: 20px;
    width: 88%;
    margin: 20px auto; /* Center the input box */
}
.input-box label {
    display: block;
    margin-bottom: 5px;
}
.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid black 0.5px;
}
.not-robot {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: 20px auto;
    padding: 15px;
    border: solid rgb(173, 171, 171) 1px;
    background-color: rgba(238, 238, 238, 0.795);
    border-radius: 5px;

}

.not-robot input[type="checkbox"] {
    margin-right: 10px; /* Adjust the margin to create a gap */
    cursor: pointer;
}

.not-robot img {
    height: 50px;
    width: 50px; /* remove the underline */
}

.submit-btn {
    font-weight: bold;
    width: 88%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bac5ba;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Ensure it takes up the full width of its container */
    margin: 30px auto; /* Center the button horizontally and provide vertical margin */
}
.submit-btn:hover {
    background-color: #d1cfcf;
}
