
/*
========
ROOT CSS
========
*/

/* @font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
} */


:root[data-theme="light"] {
  --text: #000000;
  --bg: #ffffff;  

  --primary: #efa701;
  --primary2: hsl(42, 99%, 47%, 85%);
  --primary3: hsl(42, 99%, 47%, 75%);
  --primary4: hsl(42, 99%, 47%, 65%);
  --primary5: hsl(42, 99%, 47%, 45%);
  --primary6: hsl(42, 99%, 47%, 55%);
  --primary7: hsl(42, 99%, 47%, 35%);
  --primary8: hsl(42, 99%, 47%, 25%);
  --primary9: hsl(42, 99%, 47%, 15%);

  --secondary: #4b98d2;
  --secondary2: hsl(206, 60%, 56%, 85%);
  --secondary3: hsl(206, 60%, 56%, 75%);
  --secondary4: hsl(206, 60%, 56%, 55%);
  --secondary5: hsl(206, 60%, 56%, 65%);
  --secondary6: hsl(206, 60%, 56%, 45%);
  --secondary7: hsl(206, 60%, 56%, 35%);
  --secondary8: hsl(206, 60%, 56%, 25%);
  --secondary9: hsl(206, 60%, 56%, 15%);

  --accent: #524a38;
  --accent2: hsl(42, 19%, 27%, 85%);
  --accent3: hsl(42, 19%, 27%, 75%);
  --accent4: hsl(42, 19%, 27%, 65%);
  --accent5: hsl(42, 19%, 27%, 55%);
  --accent6: hsl(42, 19%, 27%, 45%);
  --accent7: hsl(42, 19%, 27%, 35%);
  --accent8: hsl(42, 19%, 27%, 25%);
  --accent9: hsl(42, 19%, 27%, 15%);

  --static: rgba(225, 225, 225, 0.5);
  --static2: #0f0f0f;
  --static3: rgb(255, 255, 255);
  --static4: rgba(225, 225, 225, 0.2);
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);

  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #ffdd00;
  --accentcontrast: #64d97b;

  --error: #D74242;
  --warning: #EF7918;
  --success: #418944;
  --info: #1893D5;
  --error-bg: #FDEDED;
  --warning-bg: #FFF4E5;
  --success-bg: #EDF7ED;
  --info-bg: #E5F6FD;
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --bg: #000000;

  --primary: #feb710;
  --primary2: hsl(42, 99%, 53%, 85%);
  --primary3: hsl(42, 99%, 53%, 75%);
  --primary4: hsl(42, 99%, 53%, 65%);
  --primary5: hsl(42, 99%, 53%, 55%);
  --primary6: hsl(42, 99%, 53%, 45%);
  --primary7: hsl(42, 99%, 53%, 35%);
  --primary8: hsl(42, 99%, 53%, 25%);
  --primary9: hsl(42, 99%, 53%, 15%);

  --secondary: #2d79b4;
  --secondary2: hsl(206, 60%, 44%, 85%);
  --secondary3: hsl(206, 60%, 44%, 75%);
  --secondary4: hsl(206, 60%, 44%, 65%);
  --secondary5: hsl(206, 60%, 44%, 55%);
  --secondary6: hsl(206, 60%, 44%, 45%);
  --secondary7: hsl(206, 60%, 44%, 35%);
  --secondary8: hsl(206, 60%, 44%, 25%);
  --secondary9: hsl(206, 60%, 44%, 15%);

  --accent: #c6beac;
  --accent2: hsl(42, 19%, 73%, 85%);
  --accent3: hsl(42, 19%, 73%, 75%);
  --accent4: hsl(42, 19%, 73%, 65%);
  --accent5: hsl(42, 19%, 73%, 55%);
  --accent6: hsl(42, 19%, 73%, 45%);
  --accent7: hsl(42, 19%, 73%, 35%);
  --accent8: hsl(42, 19%, 73%, 25%);
  --accent9: hsl(42, 19%, 73%, 15%);

  --static: rgba(0, 0, 0, 0.5);
  --static2: rgb(240, 240, 240);
  --static3: rgb(22, 22, 22);
  --static4: rgba(225, 225, 225, 0.2);
  --static5: rgb(24, 172, 122);
  --static6: rgba(255, 255, 255, 0.15);
  --static7: rgba(255, 255, 255, 0.1);
  --static8: rgba(255, 255, 255, 0.05);
  --static9: rgba(255, 255, 255, 0.3);
  --static10: rgb(40, 40, 40);
  --static11: rgba(255, 255, 255, 0.03);
  --static12: rgba(0, 0, 0, 0.8);
  --static13: rgb(40, 40, 40);
  --static14: rgba(255, 255, 255, 0.2);
  --static15: rgba(0,0,0, 0.5);

  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #ffdd00;
  --accentcontrast: #64d97b;

  --error: #DE3E32;
  --warning: #E89823;
  --success: #5DAB61;
  --info: #26A6E0;
  --error-bg: #160B0B;
  --warning-bg: #191207;
  --success-bg: #0C130D;
  --info-bg: #071318;
}

:root {
  font-family: 'Poppins', ui-sans-serif;
  --font-scale: 1.333;
  --h1: calc(var(--h2) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h5: calc(var(--p) * var(--font-scale));
  --p: 1rem;
  --small: calc(var(--p) / var(--font-scale));
  --margin-lg: 0 12%;
  --margin-md: 0 12%;                                     /* fixed the 12%  for the page margin width*/

  --black: #000000;
  --white: #ffffff;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Poppins var', ui-sans-serif;
  }
}


/*
=============
SCROLLBAR CSS
=============
*/

::-webkit-scrollbar {
  margin-left: 1em;
  width: 8px;
  height: 3px;
  background-color: rgba(131, 131, 131, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(129, 129, 129, 0.9);
}