*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}
.nav-bar .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-bar .logo img{
    width: 40px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 35px;
}


