
/*
==========
RECIPE CSS
==========
*/

.recipe {
  display: contents;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8em;
  margin: 5rem 0;
  width: 100%;
}